<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/owl.theme.default.css' %}" />
    <script src="{% static 'users/javascript/custom.js' %}"></script>
    <script src="{% static 'users/javascript/owl.carousel.min.js' %}"></script>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400,400|Ubuntu:300" rel="stylesheet" type="text/css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjQRMAgIaJyoNrUyhDCT5c470E6AkvDik&libraries=places&callback=initAutocomplete" async defer></script> 
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <!-- <img class="airbnblogo" src="images/airbnb-logo-belo.png"> -->
                        <a class="navbar-brand" href="{% url 'users:home' %}">StayPlaces</a>
                        </div>
                        <ul class="nav navbar-nav">
                        <!-- <li><a href="{% url 'locations:home' %}">Search</a></li> -->
                        <form action="{% url 'locations:search' %}" method='post'>
                                {% csrf_token %}
                            <input id="search" type="text" name="search" class="form-control searchbar"
                            placeholder="Enter a location">
                            <button type="submit" class="btn btn-default hidden">Search</button>
                        </form>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        {% if User.id != None %}
                        <li><a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Host <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% if Host %}
                                <li><a href="{% url 'users:host' %}">Create new listing</a></li>
                                <li><a href="{% url 'users:listing' User.id %}">My Listings</a></li>
                                {% else %}
                                <li><a href="{% url 'users:host' %}">Become a host</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{% url 'users:trips' %}" class="trips_tab" >Trips</a></li>
                        <li><a href="{% url 'messages:inbox' %}">Messages</a></li>
                        <li><a href="{% url 'users:edit_profile' %}">Profile</a></li>
                        <li><a href="{% url 'users:logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-user"></span> Sign Up / Login</a></li>
                        {% endif %}
                        </ul>
                    </div>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h2>Add additional information</h2>
                                </div>
                                <div class="col-lg-6">
                                    <a href="{% url 'users:profile' User.id %}" class="btn btn-default">View your profile</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="text-align: left">
                                <div class="col-lg-12">
                                    <form action="{% url 'users:edit' User.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                        <div class="col-sm-6">
                                            {% if User.image %}
                                            <img src="/media/{{User.image}}" />
                                            {% else %}
                                            <img src="{% static 'users/images/default.png' %}" />
                                            {% endif %}
                                            <h4>Profile Picture</h4>
                                            <input type="file" name="image" class="form-control">
                                        </div>
                                        </div>
                                        <label>First Name: </label>
                                        <input type="text" class="form-control" name="first_name" value="{{User.first_name}}">
                                        <label>Last Name: </label>
                                        <input type="text" class="form-control" name="last_name" value="{{User.first_name}}">
                                        <label for="gender">I am: </label><br />
                                        <select name="gender">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select><br />
                                        <label>Email: </label>
                                        <input type="email" class="form-control" name="email" value="{{User.email}}">
                                        <label>Phone: </label>
                                        <input type="phone" class="form-control" name="phone" value="{% if User.phone %}{{User.phone}}{% endif %}">
                                        <label for="location" >Where you live: </label>
                                        <input type="text" class="form-control" name="location" value="{{User.location}}">
                                        <label for="desc">A little about yourself</label>
                                        <textarea class="form-control" name="desc">{{User.desc}}</textarea>
                                        <button class="btn btn-default" type="submit">Edit Information</button>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                <ul class="errors">
                                    {% for message in messages %}
                                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>