<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" />
    <script src="{% static 'users/javascript/custom.js' %}"></script>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400,400|Ubuntu:300" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'users:home' %}">Airbnb</a>
                        </div>
                        <ul class="nav navbar-nav">
                        <input class="searchbar" placeholder="Search" type="text">
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        {% if User.id != None %}
                        <li><a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Host</a>
                            <span class="caret"></span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% if Host %}
                                <li><a href="{% url 'users:host' %}">Create new listing</a></li>
                                <li><a href="{% url 'users:listing' User.id %}">My Listings</a></li>
                                {% else %}
                                <li><a href="{% url 'users:host' %}">Become a host</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{% url 'users:trips' %}" class="trips_tab" >Trips</a></li>
                        <li><a href="{% url 'messages:inbox' %}">Messages</a></li>
                        <li><a href="{% url 'users:edit_profile' %}">Profile</a></li>
                        <li><a href="{% url 'users:logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-user"></span> Sign Up / Login</a></li>
                        {% endif %}
                        </ul>
                    </div>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Welcome to your listings</h2>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="text-align: center">
                                <div class="col-lg-12"></div>
                                    {% for place in places %}<a href="{% url 'locations:show' place.id %}">
                                    <div class="col-sm-3" style="border: 1px solid;">
                                        <p>{{place.name}}</p>
                                        <p>${{place.price}} / night</p>
                                        <p>Rooms: {{place.rooms}} / Beds: {{place.beds}} / Baths: {{place.baths}}</p>
                                    </div></a>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>